<div class="form-item">
    <div class="form-item-title">
        <p>Nome</p>
    </div>
    <div class="form-item-field">
        <input 
            type="text"
            name="name"
            value="{{chef.name}}">
    </div>
</div>

<div class="form-item">
    <div class="form-item-title">
        <p>Avatar</p>
    </div>
    <div class="form-item-field">
        <input 
            type="text"
            name="avatar_url"
            value="{{chef.avatar_url}}">
    </div>
</div>
