{% extends "admin/layout.njk" %}

{% block content %}
    <div class="admin-display">
        <div class="show-header">
            <h2>Gerenciar Receitas</h2>
            <a href="/admin/recipes/create" class="admin-create-recipe">Criar nova receita</a>
        </div>
        
        <div class="admin-cards">
            {% for recipe in recipes %}
                <div class="admin-card">
                    <img src="{{recipe.image}}" alt="image">
                    <div class="admin-card-content">
                        <h3>{{recipe.title}}</h3>
                        <p>por {{recipe.author}}</p>
                        <div>
                            <a href="/admin/show" class="admin-card-link">Visualizar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}