{% extends "layout.njk" %}

{% block header%}
    <div class="admin-tag">
        <a href="/admin/recipes" class="about">Gerenciar Receitas</a>
    </div>
{% endblock%}
{% block content %}


    <div class="body-content">
        <div class="intro-info">
            <div class="intro-text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="intro-image">
                <img src="./assets/images/chef.png" alt="chef">
            </div>
        </div>
    </div>

    <div class="most-acessed">
        <h2>
            Mais acessadas
        </h2>

        <div class="intro-cards">
            {% for recipe in recipes %}
            <div class="intro-card">
                <img src="{{recipe.image}}" alt="{{recipe.image}} image">
                <div class="intro-card-content">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
    
    

{% endblock %}