{% extends "layout.njk" %}

{% block header %}
    <header>
        <a href="./about">Sobre</a>
        <a href="./receipts">Receitas</a>
        <a href="./"> <img src="./assets/images/logo.png" alt="Foodfy logo"></a>
    </header>
{% endblock %}

{% block content %}
    <div class="about-text">
        <h1>Página não encontrada</h1>
    </div>
{% endblock %}