{% extends "layout.njk" %}


{% block content %}
    <div class="receipts-cards">
        <div class="most-acessed">
            <div class="intro-cards">
                
                {% for recipe in recipes %}
                <div class="intro-card">
                    <img src="{{recipe.image}}" alt="{{recipe.title}} image">
                    <div class="intro-card-content">
                        <h3>{{recipe.title}}</h3>
                        <p>por {{recipe.author}}</p>
                    </div>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </div>   

    <script src="/scripts.js"></script>
{% endblock %}   

