{% extends "main/layout.njk" %}

{% block header%}
    <div class="admin-tag">
        <form action="/search" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Procure uma receita"
                value={{filter}}
            >

            <button type="submit" class="admin-create-recipe">Filtrar</button>
        </form>
    </div>
{% endblock%}
{% block content %}


    <div class="body-content">
        <div class="intro-info">
            <div class="intro-text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="intro-image">
                <img src="./assets/images/chef.png" alt="chef">
            </div>
        </div>
    </div>

    <div class="most-acessed">
        <h2>
            Mais acessadas
        </h2>

        <div class="intro-cards">
            {% for recipe in recipes %}
            <div class="intro-card {{recipe.id}}">
                <img src="{{recipe.image}}" alt="{{recipe.image}} image">
                <div class="intro-card-content">
                    <h3>{{recipe.title}}</h3>
                    <p>por {{recipe.author}}</p>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
    
    

{% endblock %}