<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>

    <div class="body">
        
        
            <header>
                <div><a href="/" class="toHome"> <img src="/assets/images/logo.png" alt="Foodfy logo"></a></div>
                <a href="/about" class="about">Sobre</a>
                <a href="/recipes" class="recipes">Receitas</a>
                <a href="/chefs" class="chefs">Chefs</a>

                {% block header%}{%endblock%}
            </header>
        
        
        {% block content %}{% endblock %}
        
    </div>
    
    <div class="footer">
        <p>Todos os direitos reservados, receitas Foodfy.</p> 
    </div>

    <script src="/scripts.js"></script>
</body>
</html>