<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy ADM</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<body>

    <div class="admin-body">
        
        
            <header id="admin">
                <div class='admin-header'>
                    <a href="/" class="toHome"><img src="/assets/images/logo-white.png" alt="Foodfy logo"></a>
                    <button class="admin-recipe"><a href="/admin/recipes">Receitas</a></button>
                    <button class="admin-chef"><a href="/admin/chefs">Chefs</a></button>
                </div>
                {% block header%}{%endblock%}

            </header>
        
        
        {% block content %}{% endblock %}
        
    </div>

    <script src="/admin-controls/scripts.js"></script>
</body>
</html>