{% extends "admin/layout.njk" %}

{% block content %}
    <div class="admin-display">
        <div class="show-header">
            <h2>Editando receita</h2>
            <div>
                <button form="delete-form" type="submit" class="delete-button">Deletar</button>
                <button form="create-form" type="submit">Salvar receita</button>
            </div>
        </div>

        <form method="POST" action="/admin/recipes?_method=PUT" id="create-form">

            {% include "admin/recipes/fields.njk" %}

            <input type="hidden" name="id" value={{recipe.id}}>
        </form>

        <form method="POST" action="/admin/recipes?_method=DELETE" id="delete-form" type="hidden">
            <input type="hidden" name="id" value={{recipe.id}}>
        </form>

        {% include 'admin/recipes/confirm.njk' %}
    </div>
{% endblock %}